/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

#woodstock-contact h2::before, #woodstock-tickets h2::before, #woodstock-location h2::before, #woodstock-lineup h2::before, #woodstock-mission h2::before, #woodstock-revamped h2::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 1em;
  width: auto;
}

@font-face {
  font-family: "woodfordbourne-regular";
  src: url("../assets/fonts/woodfordbourne-regular-webfont.woff2") format("woff2"), url("../assets/fonts/woodfordbourne-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "woodfordbourne-bold";
  src: url("../assets/fonts/woodfordbourne-bold-webfont.woff2") format("woff2"), url("../assets/fonts/woodfordbourne-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --shark: #242424;
  --asparagus: #84a871;
  --crail: #c55448;
  --punch: #e5312d;
  --rose-bud: #eaad9f;
  --bridesmaid: #feefeb;
}

:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--shark);
  background-image: url("../assets/img/symphony.png");
  background-image: url("../assets/img/symphony.webp");
  scroll-behavior: smooth;
}

figcaption {
  font-size: 0.8rem;
  font-family: "woodfordbourne-bold";
  padding: 0.3rem 0;
  text-align: center;
}

p {
  font-family: "woodfordbourne-regular";
  font-size: 1rem;
}

ul {
  list-style: none;
}

[type=submit] {
  background: var(--punch);
  border-color: var(--punch);
}
[type=submit]:hover {
  background-color: var(--asparagus);
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 25px -16px var(--shark);
}

header {
  background-color: var(--shark);
  position: fixed;
  z-index: 9999;
}
header nav ul {
  flex-direction: column;
  padding-top: 1rem;
}
header nav ul a {
  color: var(--bridesmaid);
  font-family: "woodfordbourne-bold";
  padding: 1rem 0;
  text-transform: capitalize;
}
header nav ul a:hover {
  color: var(--asparagus);
  text-decoration: none;
}

.headroom {
  transition: transform 200ms linear;
  will-change: transform;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

h1 {
  background-image: url("../assets/img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  height: 3.5rem;
  left: 1rem;
  position: absolute;
  top: 0;
  z-index: 10000;
  width: 50%;
}

h2 {
  font-family: "woodfordbourne-bold";
  margin-bottom: 1rem;
  text-align: center;
}

section, aside, footer {
  padding: 2rem 0;
}
section h3, aside h3, footer h3 {
  font-family: "woodfordbourne-regular";
}

#hero-slider {
  background: var(--shark);
}

#main-carousel .center {
  bottom: 0;
  height: 1em;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  z-index: 10;
}
#main-carousel h2 {
  text-transform: uppercase;
  line-break: normal;
  max-width: 70%;
}
#main-carousel img {
  filter: brightness(0.7);
  height: 100%;
}

#woodstock-revamped, #woodstock-lineup, #woodstock-tickets {
  background: var(--shark);
}
#woodstock-revamped h2, #woodstock-revamped h3, #woodstock-revamped p, #woodstock-revamped li, #woodstock-revamped a, #woodstock-lineup h2, #woodstock-lineup h3, #woodstock-lineup p, #woodstock-lineup li, #woodstock-lineup a, #woodstock-tickets h2, #woodstock-tickets h3, #woodstock-tickets p, #woodstock-tickets li, #woodstock-tickets a {
  color: var(--bridesmaid);
}

#woodstock-mission, #woodstock-location, #woodstock-contact {
  background-attachment: fixed;
  background-image: url("../assets/img/symphony.png");
  background-image: url("../assets/img/symphony.webp");
}
#woodstock-mission h2, #woodstock-mission h3, #woodstock-mission p, #woodstock-mission li, #woodstock-mission a, #woodstock-location h2, #woodstock-location h3, #woodstock-location p, #woodstock-location li, #woodstock-location a, #woodstock-contact h2, #woodstock-contact h3, #woodstock-contact p, #woodstock-contact li, #woodstock-contact a {
  color: var(--shark);
}

#woodstock-revamped {
  background-attachment: fixed;
  background-image: url("../assets/img/audience-1835431_576.jpg");
  background-image: url("../assets/img/audience-1835431_576.webp");
  background-size: cover;
}
@media (min-width: 576px) {
  #woodstock-revamped {
    background-image: url("../assets/img/audience-1835431_768.jpg");
    background-image: url("../assets/img/audience-1835431_768.webp");
  }
}
@media (min-width: 768px) {
  #woodstock-revamped {
    background-image: url("../assets/img/audience-1835431_992.jpg");
    background-image: url("../assets/img/audience-1835431_992.webp");
  }
}
@media (min-width: 992px) {
  #woodstock-revamped {
    background-image: url("../assets/img/audience-1835431_1200.jpg");
    background-image: url("../assets/img/audience-1835431_1200.webp");
  }
}
@media (min-width: 1200px) {
  #woodstock-revamped {
    background-image: url("../assets/img/audience-1835431_1920.jpg");
    background-image: url("../assets/img/audience-1835431_1920.webp");
  }
}
#woodstock-revamped h2::before {
  background-image: url("../assets/img/material/baseline-autorenew-24px.svg");
  filter: invert(100%);
}

#woodstock-mission {
  background-attachment: scroll;
  background-image: url("../assets/img/vw-camper-1939343_576.jpg");
  background-image: url("../assets/img/vw-camper-1939343_576.webp");
  background-size: cover;
}
@media (min-width: 576px) {
  #woodstock-mission {
    background-image: url("../assets/img/vw-camper-1939343_768.jpg");
    background-image: url("../assets/img/vw-camper-1939343_768.webp");
  }
}
@media (min-width: 768px) {
  #woodstock-mission {
    background-image: url("../assets/img/vw-camper-1939343_992.jpg");
    background-image: url("../assets/img/vw-camper-1939343_992.webp");
  }
}
@media (min-width: 992px) {
  #woodstock-mission {
    background-image: url("../assets/img/vw-camper-1939343_1200.jpg");
    background-image: url("../assets/img/vw-camper-1939343_1200.webp");
  }
}
@media (min-width: 1200px) {
  #woodstock-mission {
    background-image: url("../assets/img/vw-camper-1939343_1920.jpg");
    background-image: url("../assets/img/vw-camper-1939343_1920.webp");
  }
}
#woodstock-mission h2::before {
  background-image: url("../assets/img/material/baseline-local_florist-24px.svg");
}
#woodstock-mission figure {
  padding: 1rem;
}

#woodstock-lineup {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
#woodstock-lineup h2::before {
  background-image: url("../assets/img/material/baseline-star-24px.svg");
  filter: invert(100%);
}
#woodstock-lineup li, #woodstock-lineup a {
  font-family: "woodfordbourne-bold";
  font-size: 1.2rem;
}
#woodstock-lineup a {
  display: block;
  text-decoration: none;
}
#woodstock-lineup a[data-role=button] {
  color: var(--asparagus);
}
#woodstock-lineup .accordion {
  display: grid;
}
#woodstock-lineup .card {
  background: var(--shark);
  border: none;
  border-radius: 0;
}
#woodstock-lineup .card .card-header {
  border-radius: 0;
  border: 1px solid var(--bridesmaid);
  margin-bottom: 0;
}
#woodstock-lineup .card-body {
  background-color: var(--shark);
}

#woodstock-location {
  background-image: url("../assets/img/hitcher-1536748_576.jpg");
  background-image: url("../assets/img/hitcher-1536748_576.webp");
  background-position: center;
  background-size: cover;
  padding-bottom: 8rem;
  padding-top: 5rem;
}
@media (min-width: 576px) {
  #woodstock-location {
    background-image: url("../assets/img/hitcher-1536748_768.jpg");
    background-image: url("../assets/img/hitcher-1536748_768.webp");
  }
}
@media (min-width: 768px) {
  #woodstock-location {
    background-image: url("../assets/img/hitcher-1536748_992.jpg");
    background-image: url("../assets/img/hitcher-1536748_992.webp");
  }
}
@media (min-width: 992px) {
  #woodstock-location {
    background-image: url("../assets/img/hitcher-1536748_1200.jpg");
    background-image: url("../assets/img/hitcher-1536748_1200.webp");
  }
}
@media (min-width: 1200px) {
  #woodstock-location {
    background-image: url("../assets/img/hitcher-1536748_1920.jpg");
    background-image: url("../assets/img/hitcher-1536748_1920.webp");
  }
}
#woodstock-location h2::before {
  background-image: url("../assets/img/material/baseline-location_on-24px.svg");
}
#woodstock-location h3 {
  text-decoration: underline;
}
#woodstock-location li {
  font-family: "woodfordbourne-regular";
  margin-bottom: 0.5rem;
}
#woodstock-location li a {
  color: var(--crail);
  text-decoration: underline;
}

#woodstock-tickets {
  clip-path: polygon(0 0, 0 88%, 100% 100%, 100% 12%);
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  padding-bottom: 8rem;
  padding-top: 8rem;
  margin-top: -80px;
}
#woodstock-tickets h2::before {
  background-image: url("../assets/img/material/baseline-confirmation_number-24px.svg");
  filter: invert(100%);
}
#woodstock-tickets .form-inline {
  align-items: flex-start;
}
#woodstock-tickets input {
  font-family: "woodfordbourne-regular";
}
#woodstock-tickets input[type=email] {
  width: 100%;
}
#woodstock-tickets .thank-you {
  color: var(--bridesmaid);
  font-family: "woodfordbourne-bold";
  font-size: 1.3rem;
}

#woodstock-contact {
  padding-bottom: 8rem;
  padding-top: 5rem;
}
#woodstock-contact h2::before {
  background-image: url("../assets/img/material/baseline-contact_support-24px.svg");
}
#woodstock-contact .thank-you {
  color: var(--shark);
  font-family: "woodfordbourne-bold";
  font-size: 1.3rem;
}

footer {
  background-color: var(--crail);
  clip-path: polygon(0 12%, 0 100%, 100% 100%, 100% 0%);
  font-family: "woodfordbourne-regular";
  padding-top: 8rem;
  color: var(--bridesmaid);
}
footer .footer-title {
  font-family: "woodfordbourne-bold";
  font-size: 1.3rem;
  display: block;
}
footer #sitemap ul {
  padding: 1rem 0;
}
footer #sitemap ul li a {
  color: var(--bridesmaid);
}
footer .social {
  display: flex;
  padding: 1rem 0;
  margin-bottom: 0;
  width: fit-content;
}
footer .social li {
  margin-right: 1rem;
}
footer .social li a {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  filter: invert(100%);
  height: 2rem;
  width: 2rem;
}
footer .social li:first-child a {
  background-image: url("../assets/img/social/facebook.svg");
}
footer .social li:nth-child(2) a {
  background-image: url("../assets/img/social/twitter.svg");
}
footer .social li:last-child a {
  background-image: url("../assets/img/social/instagram.svg");
}
footer .copyright {
  padding: 1rem 0;
  text-align: center;
}

@media (min-width: 576px) {
  #woodstock-revamped h2::before, #woodstock-mission h2::before, #woodstock-lineup h2::before, #woodstock-location h2::before, #woodstock-tickets h2::before, #woodstock-contact h2::before {
    height: 1.3em;
  }

  #woodstock-revamped .about, #woodstock-mission .about {
    column-count: 2;
    column-fill: balance;
    widows: 3;
  }

  #woodstock-lineup .accordion {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  #woodstock-revamped h2::before, #woodstock-mission h2::before, #woodstock-lineup h2::before, #woodstock-location h2::before, #woodstock-tickets h2::before, #woodstock-contact h2::before {
    height: 1.5em;
  }

  header h1 {
    left: 0;
    position: relative;
  }
  header .navbar {
    padding-bottom: 0;
    padding-top: 0;
  }
  header nav ul {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 75%;
  }
  header nav ul li {
    height: 100%;
    width: 100%;
  }
  header nav ul li a {
    display: block;
    height: 100%;
    padding: 0;
    transition: color 0.3s ease-in-out;
  }
  header nav ul li a:hover {
    color: var(--crail);
  }

  footer .datos-alumno {
    width: 100%;
  }
}
@media (min-width: 992px) {
  footer a {
    color: var(--asparagus);
    transition: color 0.3s ease-in-out;
  }
  footer a:hover {
    color: var(--rose-bud);
  }
}
@media (min-width: 1200px) {
  #woodstock-revamped h2::before, #woodstock-mission h2::before, #woodstock-lineup h2::before, #woodstock-location h2::before, #woodstock-tickets h2::before, #woodstock-contact h2::before {
    height: 2em;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
  header > div {
    width: 100%;
  }
  header nav ul {
    text-align: right;
  }

  #main-carousel .carousel-item {
    height: 95vh;
  }
  #main-carousel .carousel-item img {
    height: 100%;
    object-fit: cover;
  }

  #woodstock-mission .about {
    column-count: 3;
  }
}
