@import 'normalize';

%title-icons {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 1em;
  width: auto;
}

@font-face {
  font-family: 'woodfordbourne-regular';
  src: url('../assets/fonts/woodfordbourne-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/woodfordbourne-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'woodfordbourne-bold';
  src: url('../assets/fonts/woodfordbourne-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/woodfordbourne-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --shark: #242424;
  --asparagus: #84a871;
  --crail: #c55448;
  --punch: #e5312d;
  --rose-bud: #eaad9f;
  --bridesmaid: #feefeb;
}

:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--shark);
  background-image: url("../assets/img/symphony.png");
  background-image: url("../assets/img/symphony.webp");
  scroll-behavior: smooth;
}

figcaption {
  font-size: .8rem;
  font-family: 'woodfordbourne-bold';
  padding: .3rem 0;
  text-align: center;
}

p {
  font-family: 'woodfordbourne-regular';
  font-size: 1rem;
}

ul {
  list-style: none;
}

[type=submit] {
  background: var(--punch);
  border-color: var(--punch);

  &:hover {
    background-color: var(--asparagus);
  }
}

.card {
  background-color: rgba(white, .9);
  box-shadow: 0px 0px 25px -16px var(--shark);
}

header {
  background-color: var(--shark);
  position: fixed;
  z-index: 9999;

  nav {
    ul {
      flex-direction: column;
      padding-top: 1rem;
  
      a {
        color: var(--bridesmaid);
        font-family: 'woodfordbourne-bold';
        padding: 1rem 0;
        text-transform: capitalize;
        
        &:hover {
          color: var(--asparagus);
          text-decoration: none;
        }
      }
    }
  }
}

.headroom {
  transition: transform 200ms linear;
  will-change: transform;
}

.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

h1 {
  background-image: url("../assets/img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  height: 3.5rem;
  left: 1rem;
  position: absolute;
  top: 0; 
  z-index: 10000;
  width: 50%;
}

h2 {
  font-family: 'woodfordbourne-bold';
  margin-bottom: 1rem;
  text-align: center;
}

section, aside, footer {
  padding: 2rem 0;

  h3 {
    font-family: 'woodfordbourne-regular';
  }
}

#hero-slider {
  background: var(--shark);
}

#main-carousel {
  .center {
    bottom: 0;
    height: 1em;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    z-index: 10;
  }

  h2 {
    text-transform: uppercase;
    line-break: normal;
    max-width: 70%;
  }

  img {
    filter: brightness(.7);
    height: 100%;
  }
}

#woodstock-revamped, #woodstock-lineup, #woodstock-tickets {
  background: var(--shark);
  
  h2, h3, p, li, a {
    color: var(--bridesmaid);
  }
}

#woodstock-mission, #woodstock-location, #woodstock-contact {
  background-attachment: fixed;
  background-image: url("../assets/img/symphony.png");
  background-image: url("../assets/img/symphony.webp");

  h2, h3, p, li, a {
    color: var(--shark);
  }
}

#woodstock-revamped {
  background-attachment: fixed;
  background-image: url("../assets/img/audience-1835431_576.jpg");
  background-image: url("../assets/img/audience-1835431_576.webp");
  background-size: cover;

  @media (min-width: 576px) {
    background-image: url("../assets/img/audience-1835431_768.jpg");
    background-image: url("../assets/img/audience-1835431_768.webp");
  }

  @media (min-width: 768px) {
    background-image: url("../assets/img/audience-1835431_992.jpg");
    background-image: url("../assets/img/audience-1835431_992.webp");
  }

  @media (min-width: 992px) {
    background-image: url("../assets/img/audience-1835431_1200.jpg");
    background-image: url("../assets/img/audience-1835431_1200.webp");
  }
  
  @media (min-width: 1200px) {
    background-image: url("../assets/img/audience-1835431_1920.jpg");
    background-image: url("../assets/img/audience-1835431_1920.webp");
  }

  h2 {
    &::before {
      @extend %title-icons;
      background-image: url("../assets/img/material/baseline-autorenew-24px.svg");
      filter: invert(100%);
    }
  }
}

#woodstock-mission {
  background-attachment: scroll;
  background-image: url("../assets/img/vw-camper-1939343_576.jpg");
  background-image: url("../assets/img/vw-camper-1939343_576.webp");
  background-size: cover;

  @media (min-width: 576px) {
    background-image: url("../assets/img/vw-camper-1939343_768.jpg");
    background-image: url("../assets/img/vw-camper-1939343_768.webp");
  }

  @media (min-width: 768px) {
    background-image: url("../assets/img/vw-camper-1939343_992.jpg");
    background-image: url("../assets/img/vw-camper-1939343_992.webp");
  }

  @media (min-width: 992px) {
    background-image: url("../assets/img/vw-camper-1939343_1200.jpg");
    background-image: url("../assets/img/vw-camper-1939343_1200.webp");
  }
  
  @media (min-width: 1200px) {
    background-image: url("../assets/img/vw-camper-1939343_1920.jpg");
    background-image: url("../assets/img/vw-camper-1939343_1920.webp");
  }

  h2 {
    &::before {
      @extend %title-icons;
      background-image: url("../assets/img/material/baseline-local_florist-24px.svg");
    }
  }

  figure {
    padding: 1rem;
  }
}

#woodstock-lineup {
  padding-bottom: 5rem;
  padding-top: 5rem;
  
  h2 {
    &::before {
      @extend %title-icons;
      background-image: url("../assets/img/material/baseline-star-24px.svg");
      filter: invert(100%);
    }
  }

  li, a {
    font-family: 'woodfordbourne-bold';
    font-size: 1.2rem;
  }

  a {
    display: block;
    text-decoration: none;

    &[data-role=button] {
      color: var(--asparagus);
    }
  }

  .accordion {
    display: grid;
  }
  
  .card {
    background: var(--shark);
    border: none;
    border-radius: 0;

    .card-header {
      border-radius: 0;
      border: 1px solid var(--bridesmaid);
      margin-bottom: 0;
    }
  }
  

  .card-body {
    background-color: var(--shark);
  }
}

#woodstock-location {
  background-image: url("../assets/img/hitcher-1536748_576.jpg");
  background-image: url("../assets/img/hitcher-1536748_576.webp");
  background-position: center;
  background-size: cover;
  padding-bottom: 8rem;
  padding-top: 5rem;

  @media (min-width: 576px) {
    background-image: url("../assets/img/hitcher-1536748_768.jpg");
    background-image: url("../assets/img/hitcher-1536748_768.webp");
  }

  @media (min-width: 768px) {
    background-image: url("../assets/img/hitcher-1536748_992.jpg");
    background-image: url("../assets/img/hitcher-1536748_992.webp");
  }

  @media (min-width: 992px) {
    background-image: url("../assets/img/hitcher-1536748_1200.jpg");
    background-image: url("../assets/img/hitcher-1536748_1200.webp");
  }
  
  @media (min-width: 1200px) {
    background-image: url("../assets/img/hitcher-1536748_1920.jpg");
    background-image: url("../assets/img/hitcher-1536748_1920.webp");
  }

  h2 {
    &::before {
      @extend %title-icons;
      background-image: url("../assets/img/material/baseline-location_on-24px.svg");
    }
  }

  h3 {
    text-decoration: underline;
  }

  li {
    font-family: 'woodfordbourne-regular';
    margin-bottom: .5rem;

    a {
      color: var(--crail);
      text-decoration: underline;
    }
  }
}

#woodstock-tickets {
  clip-path: polygon(0 0, 0 88%, 100% 100%, 100% 12%);
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  padding-bottom: 8rem;
  padding-top: 8rem;
  margin-top: -80px;

  h2 {
    &::before {
      @extend %title-icons;
      background-image: url("../assets/img/material/baseline-confirmation_number-24px.svg");
      filter: invert(100%);
    }
  }
  .form-inline {
    align-items: flex-start;
  }

  input {
    font-family: 'woodfordbourne-regular';

    &[type=email] {
      width: 100%;
    }
  }
  

  .thank-you {
    color: var(--bridesmaid);
    font-family: 'woodfordbourne-bold';
    font-size: 1.3rem;
  }
}

#woodstock-contact {
  padding-bottom: 8rem;
  padding-top: 5rem;

  h2 {
    &::before {
      @extend %title-icons;
      background-image: url("../assets/img/material/baseline-contact_support-24px.svg");
    }
  }

  .thank-you {
    color: var(--shark);
    font-family: 'woodfordbourne-bold';
    font-size: 1.3rem;
  }
}

footer {
  background-color: var(--crail);
  clip-path: polygon(0 12%, 0 100%, 100% 100%, 100% 0%);
  font-family: 'woodfordbourne-regular';
  padding-top: 8rem;
  color: var(--bridesmaid);
  
  .footer-title {
    font-family: 'woodfordbourne-bold';
    font-size: 1.3rem;
    display: block;
  }
  
  #sitemap {
    ul {
      padding: 1rem 0;
      
      li {
        a {
          color: var(--bridesmaid);
        }
      }
    }
  }

  .social {
    display: flex;
    padding: 1rem 0;
    margin-bottom: 0;
    width: fit-content;

    li {
      margin-right: 1rem;

      a {
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 0;
        filter: invert(100%);
        height: 2rem;
        width: 2rem;
      }
      
      &:first-child {
        a {
          background-image: url("../assets/img/social/facebook.svg");
        }
      }
      
      &:nth-child(2) {
        a {
          background-image: url("../assets/img/social/twitter.svg");
        }
      }
      
      &:last-child {
        a {
          background-image: url("../assets/img/social/instagram.svg");
        }
      }
    }
  }

  .copyright {
    padding: 1rem 0;
    text-align: center;
  }
}

@media (min-width: 576px) {
  %title-icons {
    height: 1.3em;
  }

  #woodstock-revamped, #woodstock-mission {
    .about {
      column-count: 2;
      column-fill: balance;
      widows: 3;
    }
  }

  #woodstock-lineup {
    .accordion {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 768px) {
  %title-icons {
    height: 1.5em;
  }

  header {
    h1 {
      left: 0;
      position: relative;
    }

    .navbar {
      padding-bottom: 0;
      padding-top: 0;
    }

    nav {
      ul {
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem 0;
        width: 75%;
        
        li {
          height: 100%;
          width: 100%;

          a {
            display: block;
            height: 100%;
            padding: 0;
            transition: color .3s ease-in-out;

            &:hover {
              color: var(--crail);
            }
          }
        }
      }
    }
  }

  footer {
    .datos-alumno {
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  footer {
    a {
      color: var(--asparagus);
      transition: color .3s ease-in-out;

      &:hover {
        color: var(--rose-bud);
      }
    }
  }
}

@media (min-width: 1200px) {
  %title-icons {
    height: 2em;
  }
  

  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    > div {
      width: 100%;
    }

    nav {
      ul {
        text-align: right;
      }
    }
  }

  #main-carousel {
    .carousel-item {
      height: 95vh;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #woodstock-mission {
    .about {
      column-count: 3;
    }
  }
}